@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&family=Roboto+Mono:wght@300&family=Syne:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&family=PT+Sans:wght@700&family=Roboto+Mono:wght@300&family=Syne:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&family=Montserrat:wght@300&family=PT+Sans:wght@700&family=Roboto+Mono:wght@300&family=Syne:wght@700&display=swap");


.container{
    height: 100vh;
    border-radius: 0;
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
  }

 body{
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    overflow-x: hidden;
    color: white;
 }

  html{scroll-behavior:smooth}

  .landingbg{
    animation: fadeIn 3s;
  }

    

  @keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity : 1;
    }
  }


* {
  margin: 0;
  padding: 0;
}

.smallContainer {
  width: 90vw;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 25vh;
}

.smallContainer h3 {
  color: #a3a3a3;
  text-align: center;
  font-size: 20px;
  font-family: JetBrains Mono;
  font-style: normal;
  font-weight: 700;
  line-height: 138%;
  width: 220px;
  border-radius: 61.909px;
  border: 1.238px solid rgba(255, 255, 255, 0.3);
}

.smallContainer h1 {
  background: linear-gradient(
    146deg,
    #ececec 20.35%,
    rgba(236, 236, 236, 0) 128.73%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: Syne;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 67%;
  letter-spacing: -2.88px;
  margin-top: 5vh;
}

.smallContainer h2 {
  display: flex;
  width: 961px;
  height: 29px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.62);
  text-align: center;
  font-family: Syne;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 3vh;
  animation: fadeIn 5s;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;

}

#regbtn {
  padding: 12px 24px;
  gap: 8px;
  border-radius: 5px;
  background: #ececec;
  color: #0b081c;
  font-family: JetBrains Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
  line-height: 150%; /* 27px */
  border: none;
  transition: 0.3s;
}

#regbtn:hover{
    background-color: #a3a3a3;
}

#archbtn {
  padding: 12px 24px;
  border-radius: 5px;
  border: 2px solid #a90a7d;
  box-shadow: 0px 0px 15px 0px #c925ab;
  color: #ececec;
  background: none;
  font-family: JetBrains Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
  cursor: pointer;
  transition: 0.3s;

}

#archbtn:hover{
    background-color: rgb(0,0,0,0.5);
}

.timer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20rem;
}

.element {
  display: flex;
  flex-direction: column;
  width: 5rem;
}

.timeText {
  color: #fff;
  font-family: JetBrains Mono;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 138%;
  text-align: center;
}

.time {
  color: #fff;
  text-align: center;
  font-family: PT Sans;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 138%;
}

.sponsorLogo {
  display: flex;
  justify-content: space-around;
}

.buttonHolder {
  display: flex;
  justify-content: space-around;
  min-width: 35%;
  margin-top: 6vh;
}

.buttonHolder button {
  margin-right: 1rem;
  margin-left: 1rem;
}

footer {
  color: rgba(255, 255, 255, 0.8);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

@media only screen and (max-width: 600px) {
    .smallContainer h1{
        font-size: 2.5rem;
        margin-bottom: 0;
    }
    .smallContainer h2{
        margin-top: 0.5rem;
        font-size: 1.2rem;
        width: 100%;
    }
    #archbtn{
        font-size: 0.7rem;
    }
    #regbtn{
        font-size: 0.7rem;
    }
    .buttonHolder{
        margin-top: 3rem;
    }
    .time{
        font-size: 2rem;
    }
    .timeText{
        font-size: 0.75rem;
    }
    .timer{
        width: 15rem;
        margin-bottom: 3rem;
        margin-right: 1rem;
    }
    .smallContainer h3{
        margin-bottom: 1rem;
    }
  }