@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&family=Roboto+Mono:wght@300&family=Syne:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&family=PT+Sans:wght@700&family=Roboto+Mono:wght@300&family=Syne:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&family=Montserrat:wght@300&family=PT+Sans:wght@700&family=Roboto+Mono:wght@300&family=Syne:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
}

.smallContainer {
  width: 90vw;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
}

.smallContainer h3 {
  color: #a3a3a3;
  text-align: center;
  font-size: 20px;
  font-family: JetBrains Mono;
  font-style: normal;
  font-weight: 700;
  line-height: 138%;
  width: 220px;
  border-radius: 61.909px;
  border: 1.238px solid rgba(255, 255, 255, 0.3);
}

.smallContainer h1 {
  background: linear-gradient(
    146deg,
    #ececec 20.35%,
    rgba(236, 236, 236, 0) 128.73%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: Syne;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 67%;
  letter-spacing: -2.88px;
  margin-top: 5vh;
}

.smallContainer h2 {
  display: flex;
  width: 961px;
  height: 29px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.62);
  text-align: center;
  font-family: Syne;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 3vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;
}

#regbtn {
  padding: 12px 24px;
  gap: 8px;
  border-radius: 5px;
  background: #ececec;
  color: #0b081c;
  font-family: JetBrains Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
}
#archbtn {
  padding: 12px 24px;
  border-radius: 5px;
  border: 2px solid #a90a7d;
  box-shadow: 0px 0px 15px 0px #c925ab;
  color: #ececec;
  background: none;
  font-family: JetBrains Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
}

.timer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}

.element {
  display: flex;
  flex-direction: column;
}

.timeText {
  color: #fff;
  font-family: JetBrains Mono;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 138%;
  text-align: center;
}

.time {
  color: #fff;
  text-align: center;
  font-family: PT Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 138%;
}

.sponsorLogo {
  display: flex;
  justify-content: space-around;
}

.buttonHolder {
  display: flex;
  justify-content: space-around;
  min-width: 35%;
  margin-top: 6vh;
}

.buttonHolder button {
  margin-right: 20px;
}

footer {
  color: rgba(255, 255, 255, 0.8);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
