.judgesPage {
    background: linear-gradient(180deg, rgb(11, 2, 33) 0%, rgb(11, 1, 33) 100%);
    background-color: rgba(255, 255, 255, 1);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4rem;
    padding-top: 4rem;
  }
  
  .Inbox {
    align-items: center;
    background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0) 100%
  );
    border-radius: 20px;
    box-shadow: 0px 0px 2px rgba(255,255,255,0.5);

    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* overflow: scroll; */
  }
  
  .judges-speakers {
    align-self: stretch;
    color: #ebebeb;
    font-family: "Montserrat", Helvetica;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-top: 2rem;
  }
  
  .box {
    text-align: center;
    max-width: 1100px;
    min-width: 200px;
    margin: 1rem;
    height: 65%;
  }
  
  .inlineBlock {
    display: inline-block;
    margin: 17px 15px;
  }
  
  .judge {
    display: flex;
    border-radius: 10px;
    border: 1px solid #f5bffb;

    background: #000;
    /* box-shadow: 0px 0px 15px -4px #bb6a0e; */
    width:17rem;
    height: 119px;
    padding: 20px 20px;
    text-align: initial;
  }
  
  .designation {
    width: 121px;
    height: 20px;
    flex-shrink: 0;
    font-family: Syne;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(96deg, #b89af9 47.44%, #f49efd 106.01%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .title {
    flex-shrink: 0;
    font-family: Syne;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(94deg, #fff 56.86%, #f49efd 87.14%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .place {
    width: 165px;
    color: rgba(255, 255, 255, 0.62);
    font-family: Syne;
    font-size: 1.05rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .judge img {
    border: 1px solid #ebebeb;
    border-radius: 50%;
    width: 120px;
    height: 120px;
  }
  
  /* .hero-no-image .div1 {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 37px 24px;
    height: 195px;
    justify-content: center;
    position: relative;
    width: 1102px;
  }
  
  .hero-no-image .vectors-wrapper {
    flex: 0 0 auto;
    height: 168px;
    position: relative;
  } */
  

  @media only screen and (max-width: 600px) {
    .judge{
        width: 15rem;
    }
    .title{
        font-size: 0.9rem;
    }
    .judge{
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        border-width: 1px;
    }
    .judge img{
        width: 5rem;
        height: 5rem;
    }
    .designation{
        font-size: 0.75rem;
    }
    .place{
        font-size: 0.7rem;
        margin-top: 0.5rem;
    }
    .judges-speakers{
        font-size: 1.7rem;
    }
  }