.header {
    height: rem(56px);
    margin-bottom: rem(120px);
    background-color:gray;
    border-bottom: rem(1px) solid gray;
  }
  
  .inner {
    height: rem(56px);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .link {
    display: block;
    line-height: 1;
    padding: rem(8px) rem(12px);
    border-radius: 1rem;
    text-decoration: none;
    color: gray;
    font-size: 1rem;
    font-weight: 500;
  
    @mixin hover {
      background-color: gray;
    }
  
    [data-mantine-color-scheme] &[data-active] {
      background-color: blue;
      color: white;
    }
  }