

.imageHolder{
    margin-top: 2rem;
    text-align: center;
}

.imageHolder img{
    /* border: 1px solid white; */
    padding: 1rem;
    width: 5rem;
    height: 5rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 0.5rem;
    border: 1px solid #f5bffb;
    border-radius: 0.5rem;
}



@media only screen and (max-width: 600px) {
    .imageHolder img{
        /* border: 1px solid white; */
        padding: 1rem;
        width: 4rem;
        height: 4rem;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        border: 1px solid #f5bffb;
        border-radius: 0.5rem;
    }
  }